@model HomeModel
@{
    ViewData["Title"] = "Home";

}

<!-- main-search start -->
<div class="main-search-active">
    <div class="sidebar-search-icon">
        <button class="search-close"><span class="ion-android-close"></span></button>
    </div>
    <div class="sidebar-search-input">
        <form>
            <div class="form-search">
                <input id="search" class="input-text" value="" placeholder="Search Entire Store" type="search">
                <button>
                    <i class="ion-android-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- main-search End -->
<!--Slider Area Start-->
<div class="slider-area">
    <div class="hero-slider owl-carousel">
        <!--Single Slider Start-->
        @foreach (var slider in Model.Sliders)
{
        <div class="single-slider" style="background-image: url(img/@slider.Image)">
            <div class="hero-slider-content">
                <h1>@slider.Description</h1>
                <h2>@slider.Title</h2>
                <div class="slider-btn">
                    <a href="#">Shop Now</a>
                </div>
            </div>
        </div>
}

        
        <!--Single Slider End-->
      
    </div>
</div>
<!--Slider Area End-->
<!--Feature Area Start-->
<div class="feature-area pt-80 pb-50">
    <div class="container">
        <div class="row">
            @foreach (var future in Model.SingleFutures)
{
                <div class="col-lg-4 col-md-6">
                    <!--Single Feature Area Start-->
                    <div class="single-feature-area mb-30">
                        
                        <div class="feature-content">
                            <a style="font-size:28px;color:orangered;margin-left:20px"><i class="@future.IconAwesome"></i></a>
                            <h3>@future.Title</h3>
                        </div>
                    </div>
                    <!--Single Feature Area End-->
                </div>
}


        </div>
    </div>
</div>
<!--Feature Area End-->
<!--Our Collection Area Start-->
<div class="our-collection-area collection-bg pb-75" style="background-image: url(img/bg/@Model.BackgroundImages.ElementAt(0).Image)";>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Section Title Start-->
                <div class="section-title">
                    <span class="sub-title">@Model.Descriptions.ElementAt(0).Title</span>
                    <h2>@Model.Descriptions.ElementAt(0).Descript</h2>
                </div>
                <!--Section Title End-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!--Single Categorie Collection Start-->
                <div class="single-categorie-collection mt-30">
                    <div class="categorie-collection-img">
                        <a href="#"><img src="~/img/banner/home1-banner1.jpg" alt=""></a>
                    </div>
                </div>
                <!--Single Categorie Collection End-->
            </div>
            <div class="col-md-3">
                <!--Single Categorie Collection Start-->
                <div class="single-categorie-collection mt-30">
                    <div class="categorie-collection-img">
                        <a href="#"><img src="~/img/banner/home1-banner2.jpg" alt=""></a>
                    </div>
                </div>
                <!--Single Categorie Collection End-->
            </div>
            <div class="col-md-6">
                <!--Single Categorie Collection Start-->
                <div class="single-categorie-collection mt-30">
                    <div class="categorie-collection-img">
                        <a href="#"><img src="~/img/banner/home1-banner3.jpg" alt=""></a>
                    </div>
                </div>
                <!--Single Categorie Collection End-->
            </div>
            <div class="col-md-6">
                <!--Single Categorie Collection Start-->
                <div class="single-categorie-collection mt-30">
                    <div class="categorie-collection-img">
                        <a href="#"><img src="~/img/banner/home1-banner4.jpg" alt=""></a>
                    </div>
                </div>
                <!--Single Categorie Collection End-->
            </div>
            <div class="col-md-3">
                <!--Single Categorie Collection Start-->
                <div class="single-categorie-collection mt-30">
                    <div class="categorie-collection-img">
                        <a href="#"><img src="~/img/banner/home1-banner5.jpg" alt=""></a>
                    </div>
                </div>
                <!--Single Categorie Collection End-->
            </div>
            <div class="col-md-3">
                <!--Single Categorie Collection Start-->
                <div class="single-categorie-collection mt-30">
                    <div class="categorie-collection-img">
                        <a href="#"><img src="~/img/banner/home1-banner6.jpg" alt=""></a>
                    </div>
                </div>
                <!--Single Categorie Collection End-->
            </div>
        </div>
    </div>
</div>
<!--Our Collection Area End-->
<!--Product Area Start-->
<div class="product-area pt-20 pb-35">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Section Title 2 Start-->
                <div class="section-title2">
                    <h2>Our Products</h2>
                    <!--Product Tab Menu Start-->
                    <div class="product-tab-menu">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            @foreach (var item in Model.Product_Categories)
                            {
                                <li><a class="navbar-link @item.Active" data-toggle="tab" aria-selected="true" href="#tab-@item.Id">@item.Name</a></li>
                            }


                        </ul>
                    </div>
                    <!--Product Tab Menu End-->
                </div>
                <!--Section Title 2 End-->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    @foreach (var item in Model.Product_Categories)
                    {
                        <div class="tab-pane fade show @item.Active" id="tab-@item.Id" role="tabpanel">
                            <div class="row">
                                <div class="product-slider owl-carousel">
                                    @{ var size = (Model.Products.Count() % 2 == 0 ? Model.Products.Count() / 2 : Model.Products.Count() / 2 + 1); }

                                    @for (int i = 0, j = 0; i < size; i++, j += 2)
                                    {
                                        <div class="col-md-12">
                                            @foreach (var prod in Model.Products.Skip(j).Take(2))
                                            {
                                                <div class="single-product-area mb-40">
                                                    <div class="product-img img-full">
                                                        <a href="single-product.html">
                                                            <img class="first-img" src="img/product/@prod.Image" alt="">
                                                        </a>
                                                        <span class="sticker">New</span>
                                                        <div class="product-action">
                                                            <ul>
                                                                <li><a href="cart.html" title="Add To Cart"><span class="icon_bag_alt"></span></a></li>
                                                                <li><a href="wishlist.html" title="Add to Wish List"><span class=" icon_heart_alt "></span></a></li>
                                                                <li><a href="compare.html" title="Compare this Product"><span class="icon_datareport"></span></a></li>
                                                            </ul>
                                                        </div>
                                                        <ul class="product-quickview">
                                                            <li><a href="#open-modal" data-toggle="modal" title="Quick View"><span class="icon_search"></span></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-content">
                                                        <h4><a href="single-product.html">@prod.Name</a></h4>
                                                        <div class="product-price">
                                                            <span class="now-price">$@prod.Price</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
<!--Product Area End-->
<!--Deal Product Area Start-->
<div class="deal-product-area deal-bg" style="	background-image: url(img/bg/@Model.BackgroundImages.ElementAt(1).Image);">
    <div class="deal-produt-slider owl-carousel">
        <!--Single Deal Product Start-->
        <div class="single-deal-product">
            <div class="deal-product-img img-full">
                <a href="single-product.html"><img src="~/img/product/product10.jpg" alt=""></a>
                <span class="descount-sticker">-10%</span>
            </div>
            <div class="deal-product-content">
                <div class="section-title">
                    <span class="sub-title">Our Collections</span>
                </div>
                <h3><a href="single-product.html">HP Pavilion 22cwa</a></h3>
                <p class="product-description">The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed speci..</p>
                <div class="product-price deal-price">
                    <span class="now-price">$78.80</span>
                    <span class="regular-price">$80.00</span>
                </div>
                <div class="product-countdown">
                    <div class="pro-countdown" data-countdown="2020/09/04"></div>
                </div>
            </div>
        </div>
        <!--Single Deal Product End-->
        <!--Single Deal Product Start-->
        <div class="single-deal-product">
            <div class="deal-product-img img-full">
                <a href="single-product.html"><img src="~/img/product/@Model.Products.ElementAt(5).Image" alt=""></a>
                <span class="descount-sticker">-10%</span>
            </div>
            <div class="deal-product-content">
                <div class="section-title">
                    <span class="sub-title">Our Collections</span>
                </div>
                <h3><a href="single-product.html">Acer Aspire Desktop</a></h3>
                <p class="product-description">The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed speci..</p>
                <div class="product-price deal-price">
                    <span class="now-price">$85.80</span>
                    <span class="regular-price">$90.00</span>
                </div>
                <div class="product-countdown">
                    <div class="pro-countdown" data-countdown="2020/09/04"></div>
                </div>
            </div>
        </div>
        <!--Single Deal Product End-->
        <!--Single Deal Product Start-->
        <div class="single-deal-product">
            <div class="deal-product-img img-full">
                <a href="single-product.html"><img src="~/img/product/product8.jpg" alt=""></a>
                <span class="descount-sticker">-10%</span>
            </div>
            <div class="deal-product-content">
                <div class="section-title">
                    <span class="sub-title">Our Collections</span>
                </div>
                <h3><a href="single-product.html">Acer Aspire VX 15</a></h3>
                <p class="product-description">The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed speci..</p>
                <div class="product-price deal-price">
                    <span class="now-price">$105.80</span>
                    <span class="regular-price">$120.00</span>
                </div>
                <div class="product-countdown">
                    <div class="pro-countdown" data-countdown="2020/09/04"></div>
                </div>
            </div>
        </div>
        <!--Single Deal Product End-->
    </div>
</div>
<!--Deal Product Area End-->
<!--List Product Area Start-->
<div class="list-product-area pt-80 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <!--List Product Section Title Start-->
                        <div class="list-product-section-title mb-30">
                            <h2>New Arrivals</h2>
                        </div>
                        <!--List Product Section Title End-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="list-product-slider owl-carousel">
                            <div class="list-slider-group">
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product1.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Lenovo Ideacentre 300</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$78.80</span>
                                            <span class="regular-price">$80.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product2.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">HP Notebook 15-ay011nr</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$90.80</span>
                                            <span class="regular-price">$116.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product3.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">ASUS ZenBook</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$104.80</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                            </div>
                            <div class="list-slider-group">
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product4.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Acer R240HY bidx</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$80.80</span>
                                            <span class="regular-price">$86.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product5.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Acer Aspire E 15</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$602.80</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product6.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Acer Aspire Desktop</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$98.00</span>
                                            <span class="regular-price">$122.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                            </div>
                            <div class="list-slider-group">
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product7.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Samsung Galaxy Tab A</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$241.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product8.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Lenovo Ideacentre 300</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$116.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product9.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">HP Notebook 15-ay011nr</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$78.80</span>
                                            <span class="regular-price">$80.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <!--List Product Section Title Start-->
                        <div class="list-product-section-title mb-30">
                            <h2>Best Seller</h2>
                        </div>
                        <!--List Product Section Title End-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="list-product-slider owl-carousel">
                            <div class="list-slider-group">
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product4.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Acer R240HY bidx</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$80.80</span>
                                            <span class="regular-price">$86.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product5.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Acer Aspire E 15</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$602.80</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product6.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Acer Aspire Desktop</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$98.00</span>
                                            <span class="regular-price">$122.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                            </div>
                            <div class="list-slider-group">
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product1.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Lenovo Ideacentre 300</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$78.80</span>
                                            <span class="regular-price">$80.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product2.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">HP Notebook 15-ay011nr</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$90.80</span>
                                            <span class="regular-price">$116.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product3.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">ASUS ZenBook</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$104.80</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                            </div>
                            <div class="list-slider-group">
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product7.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Samsung Galaxy Tab A</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$241.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product8.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Lenovo Ideacentre 300</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$116.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product9.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">HP Notebook 15-ay011nr</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$78.80</span>
                                            <span class="regular-price">$80.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <!--List Product Section Title Start-->
                        <div class="list-product-section-title mb-30">
                            <h2>Most view</h2>
                        </div>
                        <!--List Product Section Title End-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="list-product-slider owl-carousel">
                            <div class="list-slider-group">
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product7.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Samsung Galaxy Tab A</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$241.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product8.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Lenovo Ideacentre 300</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$116.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product9.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">HP Notebook 15-ay011nr</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$78.80</span>
                                            <span class="regular-price">$80.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                            </div>
                            <div class="list-slider-group">
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product1.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Lenovo Ideacentre 300</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$78.80</span>
                                            <span class="regular-price">$80.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product2.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">HP Notebook 15-ay011nr</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$90.80</span>
                                            <span class="regular-price">$116.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product3.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">ASUS ZenBook</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$104.80</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                            </div>
                            <div class="list-slider-group">
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product4.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Acer R240HY bidx</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$80.80</span>
                                            <span class="regular-price">$86.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product5.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Acer Aspire E 15</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$602.80</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                                <!--Single List Product Start-->
                                <div class="single-list-product mb-50">
                                    <div class="product-img img-full">
                                        <a href="single-product.html"><img src="~/img/product/product6.jpg" alt=""></a>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Acer Aspire Desktop</a></h4>
                                        <div class="product-price">
                                            <span class="now-price">$98.00</span>
                                            <span class="regular-price">$122.00</span>
                                        </div>
                                        <a class="add-cart-btn" href="cart.html">Add To Cart</a>
                                    </div>
                                </div>
                                <!--Single List Product End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--List Product Area End-->
<!--About Area Start-->
<div class="about-area about-bg" style="background-image: url(img/bg/@Model.BackgroundImages.ElementAt(2).Image);">
    <div class="indecor-about">
        <div class="section-title">
            <span class="sub-title">@Model.Descriptions.ElementAt(1).Title</span>
            <h2>@Model.Descriptions.ElementAt(1).Descript</h2>
        </div>
        <p class="about-des">@Model.AboutMeContexts.ElementAt(0).Context</p>
        <a class="about-btn" href="#">read more</a>
    </div>
</div>
<!--About Area End-->
<!--Brand Area Start-->
<div class="brand-area pt-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-active owl-carousel">
                    <!--Single Brand Start-->
                    @foreach (var brand in Model.SingleBrands)
                    {
                        <div class="single-brand">
                        <a href="#"><img src="~/img/brand/@brand.Image" alt=""></a>
                    </div>
                    }
                    
                    <!--Single Brand End-->
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--Brand Area End-->
<!--Blog Area Start-->
<div class="blog-area pt-10 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Section Title 2 Start-->
                <div class="section-title2">
                    <h2>from our blogs</h2>
                </div>
                <!--Section Title 2 End-->
            </div>
        </div>
        <div class="row">
            <div class="blog-slider owl-carousel">
                @foreach (var ourBlog in Model.FromOurBlogs)
                {
                    <div class="col-md-12">
                        <!--Single Blog Start-->
                        <div class="single-blog">
                            <div class="blog-img img-full">
                                <a href="single-blog.html"><img src="~/img/blog/small/@ourBlog.Image" alt=""><span class="icon-view"></span></a>
                            </div>
                            <div class="blog-content">
                                <h3 class="blog-title"><a href="single-blog.html">@ourBlog.Title</a></h3>
                                <div class="blog-meta">
                                    <p class="author-name">@ourBlog.TitlePost: <span>@ourBlog.TitleHash</span> - @ourBlog.TitleDate</p>
                                </div>
                                <a class="read-btn" href="single-blog.html">read more</a>
                            </div>
                        </div>
                        <!--Single Blog End-->
                    </div>
                }


            </div>
        </div>
    </div>
</div>
<!--Blog Area End-->
